.div-main{
    position: relative;
    background-color:rgb(248, 238, 100);
    margin: 10px;
}
.main-container{
    margin-top: 5px;
    
    margin-left: 350px;
}
.img{
    border: solid rgb(216, 191, 219);
    height: 600px;
    width: 600px;
    border-radius: 2px;
}
.main-heading{
    /* padding-top: 100px;
    position: absolute; */
    /*  */
      text-align: center;
      /* color: rgb(239, 242, 243); */
      position: absolute;
      font-size: 55px;
      margin-top: 100px;
      font-family: bebas neue cryirric 'Courier New', Courier, monospace;
      /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
      margin-left: 100px;
      font-weight: bold;
      /* -webkit-text-stroke: 2px rgb(47, 227, 206);  */
      /* text-shadow: 0 0 20px rgb(53, 255, 221), 0 0 10px #7ca308; */
      color: rgb(239, 247, 250);
      text-shadow: 0 0 10px rgb(23, 24, 23), 0 0 1px rgb(5, 217, 245);
}
.dic-container{
    
    text-align: center;
}
.dec-heading{
    /* text-align: center; */
    /* color: rgb(239, 242, 243); */
    display: block;
    position: absolute;
    font-size: 20px;
    margin-top: 200px;
    font-family: bebas neue cryirric 'Courier New', Courier, monospace;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin-left: 90px;
    font-weight: bold;
    /* -webkit-text-stroke: 2px rgb(47, 227, 206);  */
    /* text-shadow: 0 0 20px rgb(53, 255, 221), 0 0 10px #7ca308; */
    color: rgb(239, 247, 250);
    text-shadow: 0 0 10px rgb(23, 24, 23), 0 0 1px rgb(5, 217, 245);
}

.Address-box{
    
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-left: 10px;
    bottom:15px;
    position:absolute;
    color: rgb(234, 248, 245);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

    .offer-text{
        /* margin-top: 6px; */
        padding: 1px;
        position: absolute;
        font-size: 25px;
        bottom:-70px;
        font-weight: bold;
        color: rgb(248, 242, 247);
        text-shadow: 0 0 10px rgb(8, 227, 183), 0 0 1px rgb(40, 242, 118);
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .Discout-box{
        margin-left: 460px;
        margin-bottom: 270px;
        font-size: 12px;
        bottom: 8px;
        position:absolute;
        color: rgb(234, 248, 245);
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         }

      .logo-container{
        margin-left: 400px;
        /* margin-bottom: 50px; */
        font-size: 12px;
        bottom: 0px;
        position:absolute;
        display: flex;
        
      }
      .logo{
        margin-bottom: 20px;
        height: 25px;
        margin-top: 200px;     
     }
     .mobile-no{
        font-weight: bold;
        color: aliceblue;
        margin-bottom:10px;
        height: 30px;
        margin-top: 195px;
        padding: 10px;
     }
.Address-img{
    height: 25px;
}




